:root{
  --aka-orange: #E8642C;
  --aka-teal: #4A9782;
  --aka-darkgrey: #212121;
  /*White background avoids harmful eye glare*/
  --aka-background: #FAFAFA;

  /*Black ink chosen for eye strain reasons*/
  --aka-ink-dark: #121212;
  --aka-ink-light: #F9FAFB;
  --aka-ink-muted: #777777;
}
body{
  background-color: #FFFFFF;
}
.app-page{
  background-color: var(--aka-background);
  margin: 0 1rem;
}